doctype html
html
  head
    title= title
    <!-- Use minimum-scale=1 to enable GPU rasterization -->
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1")
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  body
    div#name(hidden)= user.name
    div#photo(hidden)= user.photo
    block content
