doctype html
html(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#")
  head
    title= title
    <!-- Use minimum-scale=1 to enable GPU rasterization -->
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1")
    <!-- OGP -->
    meta(property="og:title" content="Sakepedia")
    meta(property="og:type" content="website")
    meta(property="og:image" content="https://sakepedia.herokuapp.com/icons/ms-icon-310x310.png")
    meta(property="og:url" content="https://sakepedia.herokuapp.com")
    meta(property="fb:app_id" content="164983513944480")

    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/stylesheets/font-awesome/css/font-awesome.min.css')
    link(rel='shortcut icon' href='/icons/favicon.ico')
    <!-- Add to home screen for Android -->
    link(rel='manifest' href='/manifest.json')
    <!-- Add to home screen for Safari on iOS -->
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black')
    meta(name='apple-mobile-web-app-title' content='Sakepedia')
    link(rel='apple-touch-icon' href='icons/apple-icon-152x152.png')
  body
    block content
