$gray: #808080;
$lightgray: #ddd;
$border: 1px solid $gray;

.table {
  border-collapse: collapse;
  width: 100%;
}

.th {
  background-color: $lightgray;
  border: $border;
  font-weight: normal;
  text-align: left;
}

.td {
  border: $border;
  word-break: break-all;
}
