@import 'common';

$border: 1px solid $grey300;

.table {
  border-collapse: collapse;
  width: 100%;
}

.th {
  background-color: $grey200;
  border: $border;
  font-weight: normal;
  text-align: left;
  white-space: pre-wrap;
}

.td {
  border: $border;
  white-space: pre-wrap;
  word-break: break-all;
}
